body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2, h3 {
    color: #333;
}

input, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    border: none;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#listings div {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
    border-radius: 4px;
}

#listings img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
        margin: 20px auto;
    }

    input, button {
        width: calc(100% - 20px);
    }
}
